<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  {{ metatags }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- block pagetitle %}
    <title>{{ title|striptags|e }}</title>
  {%- endblock %}

  {%- if favicon %}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}">
  {%- endif %}
  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css">

  {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
  {%- endfor %}

  {%- if not theme_sidebar_scrollbar|tobool %}
    <script type="text/javascript" src="{{ pathto('_static/js/sidebar-scrollbar.js', 1) }}"></script>
  {%- endif %}
  </head>
  <body>
    <div id="sidebar-parent">
      <div id="sidebar">
        <div id="sidebar-header">
          <a href="{{ pathto(master_doc) }}"><h1>{{ project|striptags|e }}</h1></a>
          <form id="search" action="{{ pathto('search') }}" method="get">
            <input type="text" name="query" placeholder="Search">
            <input type="hidden" name="check_keywords" value="yes">
            <input type="hidden" name="area" value="default">
          </form>
        </div>
        <nav>
          {{ toctree(maxdepth=theme_navigation_maxdepth|int) }}
        </nav>
      </div>
    </div>
    <div id="page">
      <div class="relbar">
        {% if prev %}
        <a class="previous" href="{{ prev.link|e }}">&#171 Previous</a>
        {% endif %}
        {% if next %}
        <a class="next" href="{{ next.link|e }}">Next &#187;</a>
        {% endif %}
      </div>
      <div id="page-content">
        {{ body }}
      </div>
    </div>
  </body>
</html>
